body {
    background-color: black;
}
.postcard {
    background-color: white;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
display: flex;
}
.left {
    padding-right: 20px;
}
.right {
display: flex;
flex-direction: column;
}
input {
    width: 100%;
border: 1px solid gray;
margin-bottom: 10px;

}





